.nyu {
background-color: #580f8b;
border-color: #580f8b;
}

.nyu:hover {
background-color: #8000FF;
border-color: #8000FF;
}

.nyu-g {
background-color: #00DCA5;
border-color: #00DCA5;
}

.btn-outline-nyu {
--bs-btn-color: #580f8b;
--bs-btn-border-color: #580f8b;
--bs-btn-hover-color: #fff;
--bs-btn-hover-bg: #580f8b;
--bs-btn-hover-border-color: #580f8b;
--bs-btn-focus-shadow-rgb: 13, 110, 253;
--bs-btn-active-color: #fff;
--bs-btn-active-bg: #580f8b;
--bs-btn-active-border-color: #580f8b;
--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
--bs-btn-disabled-color: #580f8b;
--bs-btn-disabled-bg: transparent;
--bs-btn-disabled-border-color: #580f8b;
--bs-gradient: none;
}

.nyu-mint {
background-color: #00DCA5;
}

.nyu-orange {
background-color: #ff9400;

}

.nyu-red{

    background-color: #ff0057;
}

.nyu-purple-dark{
background-color: #390063;
}

.bg-light2 {

background-color: #E0E0DE;
}

.text-indigo {
color: #8000ff;

}